body{
background-size: 100%;

    margin: 0;
    padding: 0;
    background-image:url(images/flower.jpg) ;
    
}

h1::selection{

    color: blue;
    background-color: yellow;

}


.card {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 300px;
    margin: -150px;
    background: white;			  
    color: #03446A;
    text-align: center;
    font-size: 40px;			  
    box-shadow: 0 0 15px rgba(0,0,0,0.1);

    animation: sample 2s cubic-bezier(0.5,0.2,1.0,0.5) 2s infinite alternate; 
}
@keyframes sample{

    0%{border-radius: 0%;}
    25%{background-color:deeppink;}
    50%{background-color:aqua;}
    100%{border-radius: 50%;background-color: orangered;color: antiquewhite;}
}