div{
    width: 200px;
    height: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1{
    cursor: zoom-out;
}